#root {
    position: relative;
    min-height: 100vh;
  }

.container {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  
#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }